services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper-simple
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka
    container_name: kafka-simple
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'

  kafka-init:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - kafka
    entrypoint: [ '/bin/sh', '-c' ]
    command: |
      "
      # Wait for Kafka to be ready
      echo 'Waiting for Kafka to be ready...'
      cub kafka-ready -b kafka:29092 1 30

      # Create topic with 5 partitions
      echo 'Creating topic: simple-topic'
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic simple-topic --partitions 5 --replication-factor 1

      echo 'Creating topic: tp1.test1'
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic tp1.test1 --partitions 3 --replication-factor 1

      echo 'Creating topic: TP1.TEST1'
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists --topic TP1.TEST1 --partitions 3 --replication-factor 1

      echo 'All topics created successfully'
      kafka-topics --bootstrap-server kafka:29092 --describe --topic simple-topic
      kafka-topics --bootstrap-server kafka:29092 --describe --topic tp1.test1
      kafka-topics --bootstrap-server kafka:29092 --describe --topic TP1.TEST1
      "
